<div class="confirmation-dialog">
	<div class="confirmation-message">
		{{'COMMONS.DELETE-ITEM-DIALOG.MESSAGE' | translate}}
	</div>
	<div class="row">
		<div class="col"></div>
		<div class="col-auto"><button mat-raised-button color="warn" type="button" (click)="cancel()">{{'COMMONS.DELETE-ITEM-DIALOG.CANCEL' | translate}}</button></div>
		<div class="col-auto"><button mat-raised-button color="primary" type="button" (click)="confirm()">{{'COMMONS.DELETE-ITEM-DIALOG.CONFIRM-MESSAGE' | translate}}</button></div>
	</div>
</div>
