.detail-items-editor {
	padding-top: 1em;

	.column-actions-header {
		text-align: center;
	}

	.column-numbering-header {
		text-align: center;
	}

	.column-actions {
		text-align: center;
		vertical-align: middle;
	}

	.column-numbering {
		text-align: center;
		vertical-align: middle;
	}

	.details-table-container {

	}
}
