<ng-container *ngIf="formGroup" [formGroup]="formGroup">
    <app-data-zoom-editor [formGroup]="dataZoom" *ngIf="dataZoom"></app-data-zoom-editor>

    <ng-container *ngIf="radiusAxis" [formGroup]="radiusAxis">
        <mat-form-field class="col-auto" appearance="legacy">
            <mat-label>
                {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.CHART-DISPLAY-EDITOR.CHART-TYPE-EDITOR.POLAR-BAR.RADIUS-AXIS-NAME' | translate}}
            </mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
    </ng-container>
</ng-container>