<div [formGroup]="formGroup" *ngIf="formGroup" class="card p-4 shadow">
	<mat-form-field appearance="legacy" class="col-12">
		<mat-label>
			{{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-GROUP-EDITOR.CHART-GROUP-NAME' | translate}}
		</mat-label>
		<input type="text" matInput formControlName="name">
	</mat-form-field>

    <!-- TODO TRANSLATIONS -->
	<div class="col-12">
		<h4>
			{{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-GROUP-EDITOR.CHARTS-IN-CHART-GROUP' | translate}}
		</h4>
	</div>
	<div class="col-12 charts-navigator mb-4">
			<button
				mat-raised-button
				[color]="(index === selectedTabIndex) ? 'accent': ''"
				(click)="selectTab(index)"
				class="chart-navigator-item col-auto" 
				*ngFor="let gauge of gaugesArray.controls; let index = index"
				>
				<div class="chart-description">
					<mat-icon>{{gauge.value?.type | chartIcon}}</mat-icon>
					<small class="title">
						{{gauge.value?.name ? gauge.value.name : ('APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-GROUP-EDITOR.UNTITLED' | translate)}}
					</small>
				</div>
			</button>

			<button
				mat-raised-button
				(click)="addChart()"
				class="chart-navigator-item col-auto" 
				>
				<mat-icon>add</mat-icon>
				{{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-GROUP-EDITOR.ADD-CHART' | translate}}
			</button>

	</div>


	<mat-tab-group color="accent" style='min-height:300px' class="card invisible-tabs" [selectedIndex]="selectedTabIndex" *ngIf="gaugesArray?.length">
		<mat-tab *ngFor="let gauge of gaugesArray.controls; let index = index">
			<ng-template matTabContent>
				<app-gauge-editor
                [formGroup]="gauge"
                (delete)="onDelete(index)"
                >
                </app-gauge-editor>
			  </ng-template>
		</mat-tab>
	</mat-tab-group>




</div>