<ng-container [formGroup]="formGroup" *ngIf="formGroup">
    

	<mat-form-field appearance="legacy" class="col-12">
		<mat-label>
			{{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.TERMS-BUCKET.ORDER' | translate}}
		</mat-label>
		<mat-select formControlName="order">
			<mat-option [value]="null">-</mat-option>
            <mat-option value="ASC">
				{{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.TERMS-BUCKET.ASC' | translate}}
			</mat-option>
            <mat-option value="DESC">
				{{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.TERMS-BUCKET.DESC' | translate}}
			</mat-option>
        </mat-select>
	</mat-form-field>
  
</ng-container>