<ng-container [formGroup]="formGroup" *ngIf="formGroup">

    <div class="row m-0 mt-2">
        <mat-form-field appearance="legacy" class="col-md-6">
            <mat-label>
                {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.FIELD' | translate}}
            </mat-label>
            <input type="text" matInput formControlName="field">
        </mat-form-field>
    
        <mat-form-field appearance="legacy" class="col-md-6">
            <mat-label>
                {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.TYPE' | translate}}
            </mat-label>
            <mat-select formControlName="type" (selectionChange)="onBucketTypeChange($event)">
                <mat-option *ngFor="let type of BucketAggregateTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <small class="text-muted">
        <i>
            {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.BUCKET-TYPE-ADDITIONAL-FIELDS' | translate}}
        </i>
    </small>
    <div class="col-12 mt-3 mb-3">
        <div class="card p-2" [ngSwitch]="formGroup.value.type">
            <bucket-config-editor [formGroup]="formGroup?.get('bucket')" *ngSwitchCase="BucketAggregateType.Nested"></bucket-config-editor>
            <terms-bucket-config-editor [formGroup]="formGroup" *ngSwitchCase="BucketAggregateType.Terms"></terms-bucket-config-editor>
            <data-histogram-bucket-config-editor [formGroup]="formGroup" *ngSwitchCase="BucketAggregateType.DateHistogram"></data-histogram-bucket-config-editor>
            <composite-bucket-config-editor [formGroup]="formGroup" *ngSwitchCase="BucketAggregateType.Composite"></composite-bucket-config-editor>
            <div *ngSwitchDefault>
                <i><small>
                    {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.NO-ADDITIONAL-FIELDS' | translate}}
                </small></i>
            </div>
        </div>
    </div>


    <!-- * HAVING -->
    <div class="col-12">
		<mat-checkbox [checked]="!!havingFormGroup" (change)="onRemovableFieldChange($event, StaticFilterConfig.Having)">
            {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.HAS-HAVING' | translate}}
        </mat-checkbox>
	</div>
    <ng-container *ngIf="havingFormGroup" [formGroup]="havingFormGroup">
        
        <small class="text-muted">
            <i>
                {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.HAVING' | translate}}
            </i>
        </small>

        <div class="row m-0">
            <!--* FIELD -->
            <mat-form-field appearance="legacy" class="col-md-6">
                <mat-label>
                    {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.HAVING-FIELD' | translate}}
                </mat-label>
                <input type="text" matInput formControlName="field">
            </mat-form-field>
    
            <!--* METRIC AGGREGATE TYPE -->
            
            <mat-form-field appearance="legacy" class="col-md-6">
                <mat-label>
                    {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.HAVING-AGGREGATE-TYPE' | translate}}
                </mat-label>
                <mat-select formControlName="metricAggregateType">
                    <mat-option *ngFor="let type of MetricAggregateTypes" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <!--* TYPE -->
            <mat-form-field appearance="legacy" class="col-md-6">
                <mat-label>
                    {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.HAVING-TYPE' | translate}}
                </mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let type of AggregationMetricHavingTypes" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <!--* OPERATOR -->
            <mat-form-field appearance="legacy" class="col-md-6">
                <mat-label>
                    {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.HAVING-OPERATOR' | translate}}
                </mat-label>
                <mat-select formControlName="operator">
                    <mat-option *ngFor="let type of AggregationMetricHavingOperators" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <!--* VALUE -->
            <mat-form-field appearance="legacy" class="col-md-6">
                <mat-label>
                    {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.HAVING-VALUE' | translate}}
                </mat-label>
                <input type="number" matInput formControlName="value">
            </mat-form-field>
        </div>

    </ng-container>

   
    <div class="col-12">
		<mat-checkbox [checked]="!!metricsArray" (change)="onRemovableFieldChange($event, StaticFilterConfig.Metrics)">
            {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.HAS-METRICS' | translate}}
        </mat-checkbox>
	</div>
    <!-- *  METRICS -->
    <ng-container *ngIf="metricsArray">

        <small class="text-muted">
            <i>
                {{'APP.DASHBOARD-CONFIGURATION.EDITOR.CHART-EDITOR.DATA-FETCHING-EDITOR.BUCKET-EDITOR.METRIC-CONFIGURATION' | translate}}
            </i>
        </small>
    
        <ng-container *ngFor="let metric of metricsArray.controls; let index = index">
            <div class="col-12 d-flex justify-content-end">
                <button mat-icon-button (click)="removeMetric(index)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <metric-config-editor [formGroup]="metric"></metric-config-editor>
        </ng-container>
        <div class="col-12">
            <button mat-icon-button (click)="addMetric()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </ng-container>


</ng-container>