<div class="row tenant-editor">
	<div class="col-md-8 offset-md-2">
		<mat-card>
			<mat-card-title *ngIf="isNew">{{'APP.TENANT-EDITOR.TITLE.NEW' | translate}}</mat-card-title>
			<mat-card-title *ngIf="!isNew">{{formGroup.get('name').value}}</mat-card-title>
			<mat-card-content>
				<form (ngSubmit)="formSubmit()" [formGroup]="formGroup">
					<div class="row">
						<mat-form-field class="col-md-12">
							<mat-label>{{'APP.TENANT-EDITOR.FIELDS.CODE' | translate}}</mat-label>
							<input matInput type="text" name="code" formControlName="code" required>
							<mat-error *ngIf="formGroup.get('code').hasError('backendError')">
								{{formGroup.get('code').getError('backendError')?.message}}</mat-error>
							<mat-error *ngIf="formGroup.get('code').hasError('required')">
								{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
						</mat-form-field>
						<mat-form-field class="col-md-12">
							<mat-label>{{'APP.TENANT-EDITOR.FIELDS.NAME' | translate}}</mat-label>
							<input matInput type="text" name="name" formControlName="name" required>
							<mat-error *ngIf="formGroup.get('name').hasError('backendError')">
								{{formGroup.get('name').getError('backendError')?.message}}</mat-error>
							<mat-error *ngIf="formGroup.get('name').hasError('required')">
								{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
						</mat-form-field>
					</div>
					<app-editor-actions-component
						[canDelete]="authService.hasPermission(authService.permissionEnum.DeleteTenant) && !isDeleted && !isNew"
						[canSave]="authService.hasPermission(authService.permissionEnum.EditTenant) && !isDeleted"
						(onDelete)="delete()" (onCancel)="cancel()" (onSave)="save()"></app-editor-actions-component>
				</form>
			</mat-card-content>
		</mat-card>
	</div>
</div>