<div class="indicators-list">

	<ng-container *ngFor="let chartGroup of tabConfig | tabChartGroupFilter : activeChartTags">
		<ng-container [ngSwitch]="chartGroup?.type">

<!-- todo renaming of chartgroup find something more suitable -->


			<!-- * GAUGE -->
			<div *ngSwitchCase="TabBlockType.Gauge" class="col-12 p-0">

				<h4>{{chartGroup?.name}}</h4>
				<div class="d-flex gap-1 flex-wrap">
					<app-indicator-dashboard-gauge
						*ngFor="let gauge of chartGroup.gauges"
						[indicatorQueryParams]="indicatorQueryParams"
						[token]="token"
						[gaugeConfig]="gauge">
					</app-indicator-dashboard-gauge>
				</div>
			</div>


				<!-- * CHART -->

			<mat-card class="w-100" *ngSwitchCase="TabBlockType.ChartGroup">

				<mat-card-title>{{chartGroup.name}}</mat-card-title>

				<app-indicator-carousel>
					<app-indicator-dashboard-chart
						*ngFor="let chart of chartGroup.charts"
						appIndicatorCarouselItem
						[indicatorQueryParams]="indicatorQueryParams"
						[token]="token"
						[chartConfig]="chart">
					</app-indicator-dashboard-chart>
				</app-indicator-carousel>

			</mat-card>


		</ng-container>
	</ng-container>



	<!-- *LEGACY -->

	<!-- <mat-card class="w-100" *ngFor="let chartGroup of tabConfig | tabChartGroupFilter : activeChartTags">

		<mat-card-title>{{chartGroup.name}}</mat-card-title>

		<app-indicator-carousel>
			<app-indicator-dashboard-chart
				*ngFor="let chart of chartGroup.charts"
				appIndicatorCarouselItem
				[indicatorQueryParams]="indicatorQueryParams"
				[chartConfig]="chart">
			</app-indicator-dashboard-chart>
		</app-indicator-carousel>
	</mat-card> -->
</div>
